@import 'ember-paper';

.post-image {
  height: 400px;
  width: 100%;
}

.doc-content {
  max-width: 100%;
}

md-sidenav {
  min-height: 100vh;
}

.icons {
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}

md-toolbar.md-default-theme {
  background-color: tomato;
}

.post-tile-author {
  margin-bottom: 2px;
}

.post-tile-comment-total {
  margin-top: 2px;
}

.new-post-input {
  md-input-container {
    padding: 20px;
  }
}

.new-comment {
  margin-top: 40px;
  button {
    margin-bottom: 20px;
  }
}

.comment-details, .comment-content {
  margin-bottom: 1em;
}

@media (min-width: 1200px) {
  .doc-content {
    max-width: 60%;
  }
}
