@import 'ember-paper';

.post-image {
  height: 400px;
  width: 100%;
}

.doc-content {
  max-width: 60%;
}

md-sidenav {
  min-height: 100vh;
}

.icons {
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}

md-toolbar.md-default-theme {
  background-color: tomato;
}

md-input-container {
  padding: 20px;
}
.post-entirety {
  padding: 0 20px 20px 20px;
}
